#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

* {
  font-family: "Roboto", sans-serif;
  letter-spacing: 1.5px;
  color: rgb(71, 71, 71);
}

.link-underline {
  border-bottom-width: 0;
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(#fff, #fff);
  background-size: 0 2px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.5s ease-in-out;
  text-underline-offset: 9px;
}

.link-underline-black {
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(rgb(100 116 139 / 1), rgb(100 116 139 / 1));
}

.link-underline:hover {
  background-size: 100% 2px;
  background-position: 0 100%;
}
